/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/

  --first-color: hsl(192, 58%, 22%);
  --first-color-light: hsl(228, 62%, 59%);
  --first-color-lighten: hsl(228, 100%, 97%);
  --title-color: hsl(194, 76%, 36%);
  --second-color: hsl(194, 21%, 55%);
  --text-color: hsl(240, 100%, 49%);
  --text-color-light: hsl(0, 0%, 85%);
  --border-color: hsl(228, 99%, 98%);
  --body-color: #ffffff;
  --container-color: #d3e2e7;

  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --biggest-font-size: 3.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--first-color);
  color: var(--second-color);
  transition: 0.3s;
}

h1,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

h2 {
  color: var();
}

p {
  color: var(--body-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

/*=============== THEME ===============*/
.change-theme {
  font-size: 1.25rem;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.change-theme:hover {
  color: var(--first-color);
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --first-color: rgb(176, 190, 197);
  --second-color: hsl(206, 96%, 19%);
  --title-color: hsl(210, 79%, 54%);
  --text-color: hsl(195, 41%, 46%);
  --border-color: hsl(228, 16%, 14%);
  --body-color: hsl(198, 90%, 28%);
  --container-color: hsl(228, 16%, 12%);
}

/*========== 
    Color changes in some parts of 
    the website
==========*/
.dark-theme .home__container {
  background-color: var(--container-color);
}

.dark-theme .home__search,
.dark-theme .swiper-button-next,
.dark-theme .swiper-button-prev {
  border: 3px solid var(--border-color);
}



.dark-theme .nav__menu,
.dark-theme .nav__img,
.dark-theme .value__img,
.dark-theme .contact__img,
.dark-theme .contact__card-box:hover {
  box-shadow: none;
}


.dark-theme .contact__container,
.dark-theme .contact__card,
.dark-theme .contact__card-button {
  background-color: var(--container-color);
}


.dark-theme .nav__menu {
  color: var(--title-color);
}

.dark-theme .nav__logo {
  color: var(--title-color);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.section__title span {
  color: var(--container-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  color: var(--second-color);
}

.main {
  overflow: hidden;
  /* For the animations ScrollReveal*/
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 15%;
  background-color: transparent;
  z-index: var(--z-fixed);
  transition: 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--first-color);
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav__logo i {
  font-size: 1rem;
}

nav__logo:hover {
  color: var(--first-color);
}

@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    bottom: 2rem;
    background-color: var(--container-color);
    box-shadow: 0pz 8px 24px hsla(228, 68%, 45%, 0.15);
    width: 90%;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 1.3rem, 3rem;
    border-radius: 1.25rem;
    transition: 0.4s;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav__link {
    color: var(--second-color);
    display: flex;
    padding: 0.5rem;
    border-radius: 50%;
  }

  .nav__link i {
    font-size: 1.25rem;
  }

  .nav__link span {
    display: none;
  }
}

/* Change background header */
.scroll-header {
  background-color: var(--second-color);
  box-shadow: 0 1px 4px hsla(228, 4%, 15%, 0.1);
}

.scroll-header .nav__logo {
  color: var(--first-color);
}

.scroll-header .change-theme {
  color: var(--title-color);
}

/* Active link */
.active-link {
  background: linear-gradient(101deg hsl(228, 66%, 53%), hsl(228, 66%, 47%));
  color: #7a7a7a;
  box-shadow: 0 4px 8px hsla(228, 66%, 45%, 0.25);
}


/*=============== HOME ===============*/
.home {
  /* Existing styles for the home section */
  background: url('assets/img/home.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0;
  background-color: var(--container-color);
}

.home__container {
  padding-top: 4rem;
  row-gap: 3.5rem;
}

.home__data {
  /* Existing styles for the home data section */
  text-align: center;
}

.home__title {
  /* Existing styles for the home title section */
  font-size: var(--biggest-font-size);
  margin-bottom: 1.5rem;
}

.home__img {
  position: relative;
  top: 70px;
  left: 70px;
}

.nav__logo {
  position: relative;
  top: 20px;
  bottom: -50px;
}



/*=============== TEAM ===============*/
.team__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* 5 equal columns */
  grid-template-rows: repeat(4, 1fr);
  /* 4 equal rows */
  gap: 1rem;
  /* Space between grid items */
}

.team__member {
  text-align: center;
  padding: 1rem;
  background-color: #a9a2a2;
  border-radius: 5px;
}

.team__img {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
  /* Rounded top corners */
}

.team__name {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.team__title {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}

/* Responsive design (for smaller screens) */
@media (max-width: 768px) {
  .team__container {
    grid-template-columns: repeat(2, 1fr);
    /* Reduce to 2 columns */
  }
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background: linear-gradient(101deg, var(--first-color-light), hsl(228, 68%, 47%));
  color: var(--first-color);
  padding: 14px 28px;
  border-radius: 0.5rem;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  box-shadow: 0 4px 8px hsla(228, 66%, 45%, 0.25);
  transition: 0.3s;
  cursor: pointer;
}

.button:hover {
  box-shadow: 0 4px 8px hsla(228, 66%, 45%, 0.25);
}

.nav__button {
  display: none;
}

/*=============== PROPERTY ===============*/

.property__container {
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.property__card {
  position: relative;
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 4px 8px hsla(228, 66%, 45%, 0.25);
}



.property__img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  position: absolute;
  border-radius: 10px 100px / 120px;
  overflow: hidden;
  box-shadow: fit;
  transition: 0.3s;
  align-items: center;
}



.property__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
}

.property__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.25rem;
}


.property__description {
  font-size: var(--small-font-size);
  color: var(--text-color-light);
  margin-bottom: 0.5rem;
  display: flex-end;
  flex-direction: column;
  justify-content: center;

  padding: 1rem;

}









/*=============== BUYING ===============*/
.buying__container {
  row-gap: 3rem;
}

.buying__images {
  position: relative;
  display: flex;
  justify-content: center;
}

.buying__img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  position: relative;
  border-radius: 10px 100px / 120px;
  overflow: hidden;
  box-shadow: 0 16px 32px hsla(228, 66%, 25%, 0.25);
}

.buying__description {
  font-size: var(--small-font-size);
  margin-bottom: 2.5rem;
}







/*Rotate icon and add shadows*/
.accordion-open {
  box-shadow: 0 12px 32px hsla(228, 66%, 45%, 0.1);
}

.accordion-open .buyers__accordion-icon {
  box-shadow: 0 4px 4px hsla(228, 66%, 45%, 0.1);
}

.accordion-open .buyers__accordion-arrow {
  box-shadow: 0 2px 4px hsla(228, 66%, 45%, 0.1);
}

.accordion-open .buyers__accordion-arrow i {
  transform: rotate(-180deg);
}

/*=============== SELLERS ===============*/
.sellers__container {
  row-gap: 3rem;
}

.sellers__images {
  position: relative;
  display: flex;
  justify-content: center;
}

.sellers__square {
  width: 266px;
  height: 316px;
  background-color: var(--container-color);
  border-radius: 10px 100px/ 120px;
}

.sellers__img {
  width: 100%;
  height: 300px;
  object-fit: fill;
  position: relative;
  border-radius: 10px 100px / 120px;
  overflow: hidden;
  box-shadow: 0 16px 32px hsla(228, 66%, 25%, 0.25);
}

.sellers__description {
  font-size: var(--small-font-size);
  margin-bottom: 2.5rem;
}

.sellers__information-title {
  font-size: var(--h2-font-size);
  margin-bottom: 1rem;
}

.sellers__information-description {
  font-size: var(--small-font-size);
  margin-bottom: 1.25rem;
}

.sellers__information-description span {
  color: var(--second-color);
}

.sellers__information-list {
  display: grid;
  row-gap: 0.75rem;

}

.sellers__information-item {
  display: flex;
  align-items: center;
}

.sellers__information-icon {
  font-size: 1.25rem;
  color: var(--first-color);
  margin-right: 0.25rem;
}

.sellers__information-item span {
  font-size: var(--small-font-size);
}



/*=============== CONTACT ===============*/

* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.contact__container {
  border-radius: 5px;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .column,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}





/*=============== FOOTER ===============*/
.footer__container {
  row-gap: 3rem;
}

.footer__bg {
  background-color: var(--first-color);
  padding: 2rem 0 3rem;
}

.footer__box {
  width: 180px;
}

.footer__title {
  font-size: var(--h3-font-size);
  color: #fff;
  margin-bottom: 1.25rem;
}

.footer__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.footer__social {
  display: flex;
  column-gap: 1rem;
}

.footer__social-link {
  display: inline-flex;
  background-color: var(--first-color-lighten);
  padding: 0.25rem;
  border-radius: 0.25rem;
  color: var(--first-color);
  font-size: 1rem;
}

.footer__social-link:hover {
  background-color: var(--first-color-light);
}

.footer__copy {
  font-size: var(--small-font-size);
  text-align: center;
  color: #fff;
  margin-top: 3.5rem;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.footer__privacy {
  display: flex;
  column-gap: 1rem;
}

.footer__privacy-link {
  color: #fff;
}

.footer__privacy-link:hover {
  text-decoration: underline;
}

/*=============== SCROLLREVEAL ===============*/
.scrollreveal {
  /* Initial state */
  opacity: 0;
  transform: translateY(20px);
}

.scrollreveal.active {
  /* Final state */
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s, transform 1s;
}


/*=============== SUBSCRIBE ===============*/
.subscribe {
  padding: 2.5rem 0;
}

.subscribe__container {
  background-color: var(--first-color);
  padding: 3rem 2rem;
  border-radius: 1.25rem;
  border: 6px solid var(--first-color-light);
  text-align: center;
}

.subscribe__title {
  font-size: var(--h2-font-size);
  color: var(--second-color);
  margin-bottom: 1rem;
}

.subscribe__description {
  color: var(--text-color);
  font-size: var(--small-font-size);
  margin-bottom: 2rem;
}

.subscribe__button {
  border: 2px solid #fff;
  background: var(--first-color-light);
  font-size: var(--small-font-size);
}

.subscribe__button:hover {
  background-color: var(--first-color);
}


/*=============== SCROLL BAR ===============*/

/*=============== SCROLL UP ===============*/

/* Show Scroll Up*/

/*=============== BREAKPOINTS ===============*/
/* Ensure visited links stay purple */
a:visited {
  color: #ffffff;
}


@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .section {
    padding: 3.5rem 0 1rem;
  }

  .home {
    padding-bottom: 0;
  }

  .home__container {
    grid-template-columns: minmax(0, 80%);
  }

  .home__data {
    text-align: center;
  }

  .home__title {
    font-size: var(--h1-font-size);
  }

  .home__img {
    width: 200px;
    height: 200px;
  }

  .home__scroll {
    display: none;
  }

  .contact__title {
    font-size: var(--h1-font-size);
  }

  .contact__container {
    grid-template-columns: minmax(0, 80%);
  }

  .buying__container {
    grid-template-columns: 1fr;
  }

  .buying__img {
    width: 100%;
    height: auto;
  }

  .buying__description {
    font-size: 14px;
  }

  .sellers__container {
    padding-bottom: 3rem;
  }

  .contact_container {
    grid-template-columns: minmax(0, 80%);
  }

  .contact__card {
    grid-template-columns: repeat(1, 180px);
    justify-content: center;
  }

  .contact__button {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  .nav__menu {
    padding: 1.3rem 1.5rem;
  }

  .nav__close,
  .nav__toggle {
    font-size: 1.5rem;
  }

  .nav__logo {
    width: 35px;
  }

  .home__container {
    grid-template-columns: minmax(0, 90%);
  }

  .home__img {
    width: 150px;
    height: 150px;
    align-items: center;
  }

  .home__scroll {
    display: none;
  }

  .buying__container {
    grid-template-columns: minmax(0, 90%);
  }

  .buying__img {
    width: 150px;
    height: 150px;
  }

  .property__title {
    font-size: var(--h1-font-size);
    justify-content: center;
  }

  .sellers__container {
    padding-bottom: 3rem;
  }

  .sellers__square {
    width: 240px;
    height: 264px;
  }

  .sellers__description {
    padding: 0;
  }

  .sellers__img {
    width: 200px;
    height: 200px;
  }

  .sellers__information-list {
    padding: 0;
  }

  .sellers__information-item {
    padding: 0;
  }

  .subscribe__container {
    padding: 2rem 1rem;
  }

  .footer__content {
    gap: 2.5rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__menu {
    width: 325px;
  }

  .nav__logo {
    width: 100px;
  }

  .home__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }

  .home__img {
    width: 400px;
    height: 400px;
  }

  .home__search {
    width: 412px;
  }

  .home__data {
    padding-top: 8rem;
    text-align: initial;
  }

  /* Tablet Styles */
  @media (max-width: 1023px) and (min-width: 768px) {
    .buying__container {
      grid-template-columns: 1fr;
    }

    .buying__img {
      width: 100%;
      height: auto;
    }

    /* Other tablet styles */
  }

  .footer__content {
    grid-template-columns: repeat(3, max-content);
  }
}

/* For desktop devices */
@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .nav__menu {
    width: 800px;
  }

  .nav__logo {
    width: 200px;
  }

  .nav__list {
    display: flex;
    padding-top: initial;
  }

  .nav__item {
    margin-left: 6rem;
  }

  .nav__toggle {
    display: none;
  }

  .section {
    padding: 7.5rem 0 1rem;
  }

  .section__title {
    font-size: 2.25rem;
  }

  .section__subtitle {
    font-size: var(--normal-font-size);
  }

  .home__container {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
  }

  .home__square {
    align-self: flex-end;
  }

  .home__data {
    padding-bottom: 2rem;
  }

  .home__img {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: left;
    padding: 40px;
  }

  .team__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .team__member {
    /* Mobile-specific styles */
  }

  .subscribe__container {
    padding: 3rem 13rem;
  }

  .footer__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }
}
















/* For large devices */
/*Desktops*/
@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .section {
    padding: 10rem 0 2rem;
  }

  .section__title {
    font-size: 3rem;
  }

  .section__subtitle {
    font-size: var(--normal-font-size);
  }

  .home__container {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 2rem;
  }

  .home__square {
    align-self: flex-end;
  }

  .home__data {
    padding-bottom: 2rem;
  }

  .home__img {
    position: relative;
    width: 600px;
    height: 500px;
    margin-left: -13rem;
  }

  .team__container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .nav__menu {
    width: 800px;
  }

  .nav__list {
    display: flex;
    padding-top: initial;
  }

  .nav__item {
    margin-left: 6rem;
  }

  .nav__toggle {
    display: none;
  }

  .section {
    padding: 7.5rem 0 1rem;
  }

  .section__title {
    font-size: 2.25rem;
  }

  .section__subtitle {
    font-size: var(--normal-font-size);
  }

  .home__container {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5rem;
  }

  .home__data {
    padding-bottom: 9rem;
  }

  .home__img {
    width: 600px;
    height: 700px;
    text-align: left;
    display: block;
  }

  .home__title {
    text-align: center;
    display: block;
  }

  .home__data {
    text-align: center;
    display: block;
  }

  .home__description {
    display: block;
    text-align: left;
  }

  .team__container {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
  }

}